torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
jupyterlab
jupyterlab_vim
scikit-learn
pandas
seaborn
beakerx
gensim
xlrd
nltk
# NOTE: spacy is installed separately so that the right CUDA version can be used